/* - - - - - - - - - App Fonts: - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

/* - - - - - - - - - Global reset: - - - - - - - - - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - - - - - - - - - Theme Colors: - - - - - - - - - - */
:root {
  --logo-gold: #ffd900ef;

  --text-color: #ffd900ef;
  /* (separate var in case this changes later) */

  --text-shadow: 2px 2px 0px #00000033;

  --classic-red: #b11016;
  /* (container color in that classic 70s red) */

  --toy-shadow: #8f0c10bd;

  --toy-shadow-screen: #8f0c10ab;

  --screen-gray: #bababa;
  /* (drawing screen) */

  --knob-white: #ece7e7;
  /* (the dials that move the pen on the toy will be buttons for user) */

  --knob-white-border: #ece7e7de;
  /* (the dials that move the pen on the toy will be buttons for user) */

  --btn-shake-toy: #dbcfcf;

  --warm-sandstone: #d2b48c;
  /* (for the toy to "sit" on something so it's not just floating on a white page) */
}

/* - - - - - - - - - Style: Text - - - - - - - - - - */
body {
  background-color: var(--warm-sandstone);
}
p,
label {
  color: var(--text-color);
  font-size: 1em;
  text-shadow: var(--text-shadow);
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* - - - - - - - - - Style: Toy Chassis & Screen - - - - - - - - - - */
.toy-surface {
  background-color: var(--classic-red);
  border: 3px solid var(--toy-shadow);
}

.drawing-screen {
  background-color: var(--screen-gray);
  border: 4px solid var(--toy-shadow);
}
/* (where the user will draw, and where screenPixels live, possibly child items to inherit common styles or effects) */

#etch-a-sketch-container {
  width: 80%;
}

/* - - - - - - Style: Logo - - - - - - - */
.logo {
  color: var(--logo-gold);
  text-shadow: var(--text-shadow);
  opacity: 0.8;
}
.etch-a-sketch-logo {
  font-family: 'Style Script', cursive;
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
}
.magic-screen-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.3em;
  font-weight: 100;
  font-style: normal;
}

/* - - - - - - Style: Dynamic Elements - - - - - - - */
.btn-knob {
  border: 4px solid var(--toy-shadow);
  background-color: var(--knob-white);
  cursor: pointer;
}

.btn-shake-toy {
  border: 4px solid var(--toy-shadow);
  background-color: var(--btn-shake-toy);
  cursor: pointer;
}

.custom-screen-resolution {
  background-color: var(--classic-red);
  border-style: solid;
  border-color: #ffbb007c;
  border-width: 1px 2px 2px 1px;
  font-size: 1.2em;
  color: var(--text-color);
}
/* input */

/* - - - - - - - - - Item positioning, shape, and size: - - - - - - - - - - */

/** Toy surface elements **/
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#etch-a-sketch-container {
  margin: auto;
}

.toy-surface {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4%;
  margin-top: 5%;
  width: 800px;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 15% 0 15%;
  width: 100%;
  gap: 3%;
}

/** Drawing screen elements **/
.drawing-screen {
  display: flex;
  width: 70%;
  width: 600px;
  height: 400px;
  border-radius: 3%;
  margin-bottom: 5%;
}

.screen-pixels {
  flex: 1;
}

/** Control panel elements **/

#toy-control-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 5px;
  padding: 0 20px 0 20px;
  height: 180px;
}

.control-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
  flex: 1;
}

.control-form-left {
  align-items: flex-start;
}

#input-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#btn-text-container {
  text-align: center;
}

.custom-screen-resolution {
  width: 50px;
  height: 30px;
  text-align: center;
}

.btn-knob {
  width: 80px;
  height: 80px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
}

.btn-shake-toy {
  width: 60px;
  height: 80px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 30% 70% 70% 30% / 50% 30% 70% 50%;
}
